/my_config.sh
/results/
/rp/
/run
/sv_results/
/test/results/
*.vcf.gz*
*.vcf
/*.rp
/*.rpdb
/*.out
/*.err
/imputation/
*.bak
/*bamlist*
/*pns*
/*samples*
/post_process*
/logs/
/haps/
/*.rp*
/graphtyper/
/gt/
